.project-container h1 {
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-size: 40px;
}

.color0 {
    background-image: url('../../images/overlay.png'), linear-gradient(180deg, rgb(226, 104, 104) 0%, rgb(255, 179, 179) 100%);
}

.color1 {
    background-image: url('../../images/overlay.png'), linear-gradient(180deg, rgb(250, 216, 143) 0%, rgb(235, 235, 235) 100%);
}

.color2 {
    background-image: url('../../images/overlay.png'), linear-gradient(180deg, rgb(143, 186, 250) 0%, rgb(235, 235, 235) 100%);
}

.color3 {
    background-image: url('../../images/overlay.png'), linear-gradient(0deg, rgb(255, 247, 235) 0%, rgb(235, 235, 235) 100%);
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s ease;
}

.page-leave {
    opacity: 0;
    transform: translateY(-40px);
}

.section-1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: fit-content;
    text-align: left;
}

.section-1-text h1 {
    font-size: 66px;
}

.section-1-text p {
    font-size: 22px;
}

.button-div {
    height: fit-content;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-div button {
    border-radius: 5px;
    width: 40%;
    border: 1px solid rgb(245, 245, 245);
}

.desk-button-div {
    display: none;
}

.text-container > * {
    width: 100%;
}

.btc-anim-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btc-anim {
    width: 90%;
}

.section-2 {
    height: 100vh;
    width: 100%;
    gap: 10px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    z-index: -2;
}

.section-2-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.section-2-text {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border: 1px solid white;
    padding: 5%;
}

.section-2 h1 {
    width: 100%;
    font-size: 36px;
    text-align: left;
}

.section-2 p {
    font-size: 26px;
    text-align: left;
}

.shape-1, .shape-2, .shape-3 {
    position: absolute;
    width: 40%;
    aspect-ratio: 1;
    z-index: -1;
}

.shape-1 {
    border-radius: 50%;
    top: 6%;
    left: 10%;
}

.shape-2 {
    border-radius: 5%;
    bottom: 6%;
    left: -5%;
}

.shape-3 {
    overflow: hidden;
    bottom: 40%;
    right: 0;
    animation: shapeAnim3 10s infinite ease;
}

@keyframes shapeAnim3 {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

.section-3 {
    height: fit-content;
}

.section-3-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5vh 0;
    gap: 5vh;
}

.section-3-text-1, .section-3-text-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 10px;
    text-align: left;
    font-size: 20px;
}

.section-3-text-1 img, .section-3-text-2 img {
    max-height: 50%;
    max-width: 100%;
    align-self: center;
    filter: drop-shadow(0px 0px 6px rgb(233, 233, 233))
}

.section-4 {
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 15px;
    background-color: rgb(253, 253, 253);
    filter: drop-shadow(4px 4px 1px rgb(233, 233, 233))
}

.col-1, .col-2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-all;
    width: 50%;
}

.col-1 {
    gap: 10px;
    border-right: 1px solid rgb(209, 209, 209);
}

.position, .year, .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.position, .year {
    text-align: right;
}

.section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: 5vh 0;
}

.section-5 .section-5-title {
    font-size: 40px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    align-self: center;
    border-bottom: 2px solid rgb(231, 231, 231);
    border-left: 2px solid rgb(231, 231, 231);
    padding: 5px 5%; 
    border-radius: 0 0 0 5px;
}

.links-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
}

.link-tag {
    cursor: pointer;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

.link-tag h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 5px 10%;
    color: rgb(100, 102, 104);
    border-bottom: 2px solid rgb(231, 231, 231);
    border-left: 2px solid rgb(231, 231, 231);
    border-radius: 0 0 0 5px;
    white-space: nowrap;
}

@media only screen and (min-width: 768px) {
    .project-container {
        padding: 0 0 10vh 0;
    }

    .section-1-text p, .button-div button, .section-3-text-1 p, .section-3-text-2 p{
        font-size: 30px;
    }

    .btc-anim {
        width: 70%;
    }

    .section-2-text {
        padding: 15% 5%;
        height: fit-content;
    }

    .section-2-text h1 {
        font-size: 46px;
    }

    .section-2-text p {
        font-size: 30px;
    }

    .section-3-text-1, .section-3-text-2, .section-4, .section-5 {
        width: 80%;
    }

    .position h3, .year h3, .work h3 {
        font-size: 30px;
    }

    .position p, .year p, .work p {
        font-size: 26px;
    }

    .section-5 .section-5-title {
        font-size: 55px;
    }

    .link-tag h1 {
        font-size: 50px;
    }

    .shape-1, .shape-2, .shape-3 {
        width: 30%;
    }
}

@media only screen and (min-width: 1366px) {
    .section-1 {
        flex-direction: row;
        height: 65vh;
    }

    .section-1-text {
        width: 35%;
        height: fit-content;
        gap: 5px;
    }

    .btc-anim-container {
        width: 35%;
        height: fit-content;
    }

    .btc-anim {
        height: auto;
        width: 80%;
    }

    .desk-button-div {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 5%;
        padding: 5% 0 0 0;
    }

    .desk-button-div button{
        border-radius: 5px;
        width: 45%;
        border: 1px solid rgb(245, 245, 245);
    }

    .button-div {
        display: none;
    }

    .section-2 {
        height: 75vh;
    }

    .section-2-text {
        width: 50%;
        height: fit-content;
        padding: 5vw;
    }

    .shape-1, .shape-2, .shape-3 {
        width: 15%;
    }

    .shape-1 {

    }

    .shape-2 {
        left: 8%;
        bottom: 5%;
    }

    .shape-3 {
        right: 10%;
        bottom: 36%;
    }

    .section-3-text-1, .section-3-text-2 {
        width: 50%;
    }

    .section-4 {
        width: 50%;
    }

    .link-name-0, .link-name-1, .link-name-2, .link-name-3{
        transition: 0.5s ease;
    }

    .link-0:hover {
        color: rgb(255, 116, 116);
        transform: translateX(30px);
    }

    .link-1:hover {
        color: rgb(247, 199, 95);
        transform: translateX(30px);
    }

    .link-2:hover {
        color: rgb(143, 186, 250);
        transform: translateX(30px);
    }

    .link-3:hover {
        color: rgb(235, 227, 217);
        transform: translateX(30px);
    }
}

@media only screen and (min-width: 1920px) {
    .section-1-text {
        width: 25%;
        height: fit-content;
        gap: 5px;
    }

    .btc-anim-container {
        width: 25%;
        height: fit-content;
    }

    .section-2-text {
        width: 45%;
        padding: 2.5%;
    }

    .shape-1, .shape-2, .shape-3 {
        width: 12%;
    }

    .shape-1 {
        top: 10%;
        left: 20%;
    }

    .shape-2 {
        left: 20%;
        bottom: 8%;
    }

    .shape-3 {
        right: 15%;
    }
}