.about-container {
    width: 100vw;
    position: relative;
    transform: translateY(0px);
    transition: 1s ease;
}

.page-leave {
    opacity: 0;
    transform: translateY(-45px);
}

.about-home-text{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    transition: 1s ease;
}

.about-home-text h1 {
    font-size: 30px;
}

.text-leave {
    opacity: 0;
    transform: translateY(-45px);
}

.about-main {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-45px);
    transition: 1s ease;
}

.about-main p {
    font-size: 30px;
}

.main-load {
    transform: translateY(0px);
    opacity: 1
}

.about-1, .about-2, .about-3, .about-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
}

