.about-container {
    width: 100vw;
    position: relative;
    transform: translateY(0px);
    transition: 1s ease;
}

.page-leave {
    opacity: 0;
    transform: translateY(-45px);
}

.about-home-text{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    transition: 1s ease;
}

.about-home-text h1 {
    font-size: 30px;
}

.text-leave {
    opacity: 0;
    transform: translateY(-45px);
}

.about-main {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-45px);
    transition: 1s ease;
}

.about-main p {
    width: 100%;
    font-size: 22px;
    text-align: left;
}

.main-load {
    transform: translateY(0px);
    opacity: 1
}

.about {
    padding: 8vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-1, .about-2, .about-3, .about-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.about-1-container, .about-2-container, .about-3-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.about h1 {
    font-size: 30px;
    text-align: left;
}

.boat-img {
    width: 100%;
}

.blender-video, .logo-img-container {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dbx {
    width: 50%;
}

.tags {
    width: 60%;
}

.about-footer {
    height: fit-content;
    margin: 5vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.about-footer h1 {
    width: 70%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 45px;
}

.back-next-btns {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-next-btns p {
    color: rgb(73, 170, 250);
    padding: 5px;
    border-bottom: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    border-radius: 0 0 0 3px;
    font-size: 30px;
    width: 60%;
    text-align: center;
}

.footer-home {
    align-self: flex-start;
}

.footer-resume {
    align-self: flex-end;
}

@media only screen and (min-width: 768px) {
    .about-1-text p, .about-2-text p, .about-3-text p {
        font-size: 30px;
    }
    .about-1-text h1, .about-2-text h1, .about-3-text h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1366px) {
    .about-1-container, .about-2-container, .about-3-container {
        flex-direction: row;
        gap: 5%;
        height: fit-content;
        padding: 10vh 20vw;
    }
    .blender-video {
        width: 50%;
    }
    .about-2-container {
        background-color: rgb(226, 226, 226);
        flex-direction: row-reverse;
    }

    .about p {
        font-size: 24px
    }
    
    .about-footer {
        margin: 0;
        padding: 10vh 0 20vh 0;
        background-color: rgb(226, 226, 226);
    }

    .about-footer h1 {
        font-size: 50px;
        width: 50%;
        font-weight: 600;
    }

    .back-next-btns {
        width: 50%;
    }

    .back-next-btns p {
        font-size: 40px;
        cursor: pointer;
        transition: 0.5s ease;
        border-bottom: 1px solid rgb(32, 32, 32);
        border-left: 1px solid rgb(32, 32, 32);
        border-radius: 0 0 0 5px;
        color: black;
    }

    .back-next-btns p:hover {
        margin: 0 10px;
        color: rgb(90, 199, 250);
    }
}