.about-container {
    width: 100vw;
    position: relative;
    transform: translateY(0px);
    transition: 1s ease;
}

.page-leave {
    opacity: 0;
    transform: translateY(-45px);
}

.about-home-text{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    transition: 1s ease;
}

.about-home-text h1 {
    font-size: 30px;
}

.text-leave {
    opacity: 0;
    transform: translateY(-45px);
}

.about-main {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-45px);
    transition: 1s ease;
}

.about-main p {
    width: 100%;
    font-size: 22px;
    text-align: left;
}

.main-load {
    transform: translateY(0px);
    opacity: 1
}

.about {
    padding: 8vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.about-1, .about-2, .about-3, .about-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.about h1 {
    font-size: 30px;
    text-align: left;
}

.boat-img {
    width: 100%;
}

.blender-video {
    width: 100%;
}

.tags {
    width: 100%;
    filter: drop-shadow(5px 5px 1px rgb(218, 218, 218));
}

.about-footer {
    height: fit-content;
    margin: 5vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.about-footer h1 {
    width: 70%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 45px;
}

.back-next-btns {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-next-btns p {
    color: rgb(73, 170, 250);
    padding: 5px;
    border-bottom: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    border-radius: 0 0 0 3px;
    font-size: 30px;
    width: 60%;
    text-align: center;
}

.footer-home {
    align-self: flex-start;
}

.footer-resume {
    align-self: flex-end;
}

@media only screen and (min-width: 768px) {
    .about {
        padding: 0 0 15vh 0;
        background-color: rgb(243, 243, 243);
    }

    .about-1 {
        height: 100vh;
        justify-content: center;
    }

    .about-1, .about-2, .about-3 {
        width: 70%;
    }

    .about-1-text p, .about-2-text p, .about-3-text p {
        font-size: 30px;
    }

    .about-1-text h1, .about-2-text h1, .about-3-text h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1366px) {
    .about {
        padding: 0;
    }

    .about-1 {
        width: 70%;
        flex-direction: row;
    }

    .about-1 a {
        width: 50%;
        transition: 0.5s ease;
    }

    .about-1 a:hover{
        filter: drop-shadow(0 0 15px rgb(214, 214, 214))
    }

    .about-1-text {
        width: 50%;
    }

    .about-2 {
        flex-direction: row-reverse;
        gap: 5%;
        height: 60vh;
        padding: 0 20vw;
        background-color: rgb(226, 226, 226);
    }

    .about-2 video {
        width: 35%;
    }

    .about-2-text {
        width: 65%;
    }

    .about-2-text h1, .about-2-text p {
        text-align: right;
    }

    .about-3 {
        flex-direction: row;
        height: 60vh;
    }

    .about-3 img {
        width: 40%;
    }

    .about-3-text {
        width: 60%;
    }

    .about-footer {
        margin: 0;
        padding: 10vh 0 20vh 0;
        background-color: rgb(226, 226, 226);
    }

    .about-footer h1 {
        font-size: 70px;
        width: 50%;
        font-weight: 600;
    }

    .back-next-btns {
        width: 50%;
    }

    .back-next-btns p {
        font-size: 50px;
        cursor: pointer;
        transition: 0.5s ease;
        border-bottom: 1px solid rgb(32, 32, 32);
        border-left: 1px solid rgb(32, 32, 32);
        border-radius: 0 0 0 5px;
        color: black;
    }

    .back-next-btns p:hover {
        margin: 0 10px;
        color: rgb(90, 199, 250);
    }
}