.page-leave {
    opacity: 0;
    transform: translateY(-40px);
  }

.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    margin: 10vh 0 0 0;
}

.home-1 {
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    position: relative;
}

.home-1-text p {
    font-size: 20px;
}

.home-1-art {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgba(233, 233, 233, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    transition: 1s ease;
    z-index: -1;
}

.art-click {
    pointer-events: none;
}

.button-arr {
    padding: 20px 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.real-button {
    filter: drop-shadow(0px 1px 1px rgb(141, 141, 141));
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.button-link {
    position: absolute;
    right: 0;
    width: 50%;
    height: 48px;
    transition: 0.3s ease;
}

.invisible {
    opacity: 0;
    background-color: rgb(78, 78, 78);
    pointer-events: none;
}

.icons, .icons-1, .icons-2, .icons-3 {
    color: black;
    cursor: pointer;
    margin: 5px 0 0 0px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    font-size: 36px;
    filter: drop-shadow(0px 1px 1px rgb(141, 141, 141))
}

.icons {
    transform: rotate(0deg);
    transition: 0.5s ease;
}

.icons-1 {
    opacity: 0;
    z-index: -1;
    transition: 0.75s ease;
}

.icons-2 {
    opacity: 0;
    z-index: -1;
    transition: 1s ease;
}

.icons-3 {
    opacity: 0;
    z-index: -1;
    transition: 1.25s ease;
}

.icon-click {
    background-color: rgb(66, 66, 66);
    color: white;
    transform: rotate(-90deg);
    animation: mainArrowPop 1s cubic-bezier(0,.79,.25,.99);
}

.icon-click-1 {
    opacity: 1;
    background-image: linear-gradient(45deg, rgb(250, 216, 143) 0%, rgb(235, 235, 235) 100%);
    animation: arrowPop 1.2s cubic-bezier(0,.79,.25,.99), pulse 2.6s infinite ease;
    z-index: 1;
}

.icon-click-2 {
    opacity: 1;
    background-color: rgb(114, 181, 226);
    animation: arrowPop 1.4s cubic-bezier(0,.79,.25,.99), pulse 3s infinite ease;
    z-index: 1;
}

.icon-click-3 {
    opacity: 1;
    background-color: rgb(118, 230, 118);
    animation: arrowPop 1.6s cubic-bezier(0,.79,.25,.99), pulse 3.4s infinite ease;
    z-index: 1;
}

@keyframes pulse {
    100%, 0% {
        opacity: 0.7
    }
    50% {
        opacity: 1;
    }
}

@keyframes mainArrowPop {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(-90deg)
    }
}

@keyframes arrowPop {
    100%, 0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-20px)
    }
}

.about-me {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.home-2 {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    background-color: rgb(245, 245, 245);
    padding: 5vh 0;
}

.home-2-title {
    width: 90%;
    text-align: left;
}

.project-0, .project-1, .project-2, .project-3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 90%;
    aspect-ratio: 1;
    overflow: hidden;
}

.project-0 {
    background-image: url('../../images/overlay.png'), linear-gradient(180deg, rgb(226, 104, 104) 0%, rgb(255, 179, 179) 100%);
}

.project-1 {
    background-image: url('../../images/overlay.png'), linear-gradient(45deg, rgb(250, 216, 143) 0%, rgb(235, 235, 235) 100%);
}

.project-2 {
    background-image: url('../../images/overlay.png'), linear-gradient(0deg, rgb(85, 145, 235) 0%, rgb(210, 229, 255) 100%);
}

.project-3 {
    background-image: url('../../images/overlay.png'), linear-gradient(235deg, rgb(255, 161, 213) 0%, rgb(255, 225, 241) 100%);
}

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    color: rgb(76, 80, 82);
    top: 15px;
    left: 15px;
}

.project-title h1 {
    font-size: 40px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
}

.project-title p {
    font-size: 20px;
    text-align: left;
}

.project-0 .project-title p {
    font-size: 20px;
}

.slide-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
    background: rgb(240, 240, 240, 0.1);
    backdrop-filter: blur(15px);
    font-weight: 500;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(128, 128, 128)
}

.img-0 {
    width: 50%;
}

.img-1 {
    width: 70%;
    bottom: 0;
}

.img-2 {
    width: 90%;
}

.img-3 {
    width: 60%;
    bottom: 0;
}

.home-3 {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1;
    gap: 5%;
    height: fit-content
}

.home-3-title {
    text-align: left;
    width: 100%;
    height: fit-content
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 30px;
    aspect-ratio: 1;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
    filter: drop-shadow(0px 2px 1px rgb(230, 228, 228))
}

.skills p {
    font-size: 24px;
}

.home-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.home-4 h1 {
    width: 90%;
    text-align: left;
}

.input-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    gap: 5px;
}

.input-divs > * {
    width: 100%;
    font-size: 24px;
}

.input-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-divs input {
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.message textarea {
    height: 20vh;
    word-break: break-all;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    padding: 5px;
    outline: none;
    backdrop-filter: blur(15px);
    resize: none;
}

.input-form button {
    border-radius: 5px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .home-container {
        margin: 0;
    }

    .home-1 {
        margin: 10vh 0;
        height: 90vh;
        width: 70%;
    }

    .home-1-text h1 {
        font-size: 50px;
    }

    .home-1-text p {
        font-size: 30px;
    }

    .icons, .icons-1, .icons-2, .icons-3 {
        font-size: 50px;
    }

    .real-button {
        font-size: 30px;
        padding: 0;
        font-weight: 400;
    }

    .project-title h1 {
        font-size: 60px;
    }

    .project-0, .project-1, .project-2, .project-3, .skills-container, .input-form {
        width: 70%;
    }

    .home-2-title, .home-3-title, .home-4 h1{
        width: 70%;
        font-size: 60px;
    }

    .project-title p, .skills p, .project-0 .project-title p, .input-divs input, .input-divs textarea  {
        font-size: 35px;
    }

    .slide-btn, .input-divs p, .input-form button {
        font-size: 30px;
    }

}

@media only screen and (min-width: 1366px) {
    .home-1 {
        width: 70%;
        flex-direction: row;
        justify-content: center;
        gap: 10%;
        margin: 0;
        height: 100vh;
    }

    .home-1-text {
        width: 45%;
        position: relative;
    }

    .home-1-art {
        width: 45%;
        aspect-ratio: 1;
    }

    .home-2 {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .home-2-title {
        width: 70%;
    }

    .project-0, .project-3 {
        width: 70%;
        height: 300px;
        cursor: pointer;
        transition: 0.2s ease;
    }
    .project-1, .project-2 {
        width: 34.5%;
        height: 300px;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .project-0:hover, .project-3:hover, .project-1:hover, .project-2:hover {
        filter: drop-shadow(0 0 6px rgb(175, 175, 175)) grayscale(1);
    }

    .img-0 {
        width: 30%;
    }
    
    .img-1 {
        width: 60%;
    }
    
    .img-2 {
        width: 70%;
    }
    
    .img-3 {
        width: 30%;
    }
    
    .project-0:hover .img-0, .project-1:hover .img-1, .project-2:hover .img-2, .project-3:hover .img-3 {
        filter: blur(3px);
    }

    .home-3 {
        margin: 5vh 0;
    }
    
    .slide-btn {
        display: none;
    }

    .project-title {
        justify-self: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        opacity: 0;
        transition: 0.5s ease;
        z-index: 2;
    }

    .project-title h1 {
        font-size: 130px;
    }

    .project-0:hover .project-title, .project-1:hover .project-title, .project-2:hover .project-title, .project-3:hover .project-title {
        opacity: 1;
        color: white;
        filter: drop-shadow(0 0 6px gray)
    }

    .skills-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        aspect-ratio: auto;
        gap: 20px;
        height: 200px;
        width: 70%;
        padding: 10px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 5px;
    }

    .skills {
        height: 100%;
        width: auto;
    }

    .home-3 {
        height: fit-content;
        margin: 20vh 0;
        width: 100%;
    }

    .home-4 h1 {
        width: 30%;
        font-size: 40px;
    }

    .input-form {
        width: 30%;
    }

    .input-divs p, .input-divs input, .input-form button, .input-divs textarea {
        font-size: 26px;
    }
}