.nav-container h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
}

.nav-container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page-leave {
    opacity: 0;
    transform: translateX(-25px);
}

.home-icon {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(15px);
}

.home-icon img {
    width: 40px;
    aspect-ratio: 1;
    padding: 10px 15px;
    z-index: 5;
}

.nav-burger-container {
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    gap: 8.5px;
    aspect-ratio: 1;
    border-radius: 25px;
    cursor: pointer;
    z-index: 3;
    transition: 0.5s ease;
}

.burger1, .burger2, .burger3 {
    width: 50%;
    height: 2px;
    background-color: black;
    transition: 0.5s ease-in-out;
    transform-origin: 0% 0%;

}

.burgerAnimation1, .burgerAnimation3, .burgerAnimation {
    background-color: rgb(255, 236, 153);
}

.burgerAnimation1 {
    transform: rotate(45deg);
}

.burgerAnimation3 {
    transform: rotate(-45deg);
}

.burgerAnimation {
    opacity: 0;
}

.nav-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(48, 48, 48);
    opacity: 0;
    transition: 0.5s ease;
    gap: 1em;
    pointer-events: none;
}

.navVisible {
    opacity: 1;
    pointer-events: all;
}

.nav-links {
    transition: 0.5s ease-in-out;
    color: white;
    font-size: 36px;
    height: fit-content;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 50px;
    padding: 10px 20px 0 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.itemVisible {
    transform: translateX(-25px);
    opacity: 1;
}

.icons {
    font-size: 36px;
    color: white;
}

h1 {
    font-size: 50px;
}

.projects-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    gap: 10%;
}

.projects-drop-arrow {
    color: white;
    font-size: 30px;
    transition: 2s cubic-bezier(.76,.01,.57,.99);
    opacity: 0;
    padding: 10px 0 0 0;
    transform: translateY(-45px);
    pointer-events: none;
    transition: 1s ease;
}

.drop-active {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}

.projects-sub-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
    width: fit-content;
    gap: 5px;
    height: 0;
    opacity: 0;
    transition: height 1s ease;
}

.projects-div-visible {
    position: relative;
    height: fit-content;
    opacity: 1;
    transition: 1s ease;
    pointer-events: all;
}

.projects-sub-div a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: fit-content
}

.projects-sub-div a h1 {
    font-size: 36px;
    padding: 0;
    margin: 0;
}
